<div>

    <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt49fdf32e97b85558/61a6e8b1b71bc0412dac43ac/120721_Patch_11_24_Notes_Banner.jpg" alt="hero">

    <div class="descripcion">

        <h1>Proyecto Angular by Santi</h1>

        <div class="descripcion-detalle">

            <div class="descripcion-detalle-maximo">

                <h3>Champions</h3>

                <p>En la página de champions verás todos los campeones del juego, puedes pinchar en ellos para ver cada uno de ellos a detalle. En la página de detalles debería salir el nombre del campeón, su foto, la calle en la que suele jugar y su página de runas.</p>

            </div>

            <div class="descripcion-detalle-maximo">

                <h3>Calles</h3>

                <p>En la página de calles tendremos a primera vista las 5 calles disponibles en el juego, como no hay mucho detalle que pueda sacar de esto he decidido que en la página detalle tengamos todos los campeones de la linea que escoge el usuario.</p>

            </div>

        </div>

    </div>

</div>